<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}" />
    <link rel="stylesheet" href="{% static 'css/contact-us.css' %}" />
    <title>Document</title>
  </head>
  <body>
    <!-- Hamber menu -->
    <div id="hamber_body">
      <nav>
        <ul class="hamber_nav">
          <li><a href="../index.html">Home</a></li>
          <li><a href="#">Products</a></li>
          <li><a href="#">Categories</a></li>
          <li><a href="contact-us.html">Contact us</a></li>
        </ul>
      </nav>
    </div>

    <!-- Header -->
    <header>
      <div class="container">
        <nav>
          <div class="header_wrapper">
            <img src="../assets/images/logo.svg" alt="Site logo" />
            <ul class="nav_menu">
              <li><a href="../index.html">Home</a></li>
              <li><a href="#">Products</a></li>
              <li><a href="#">Categories</a></li>
              <li><a href="contact-us.html">Contact us</a></li>
            </ul>
            <div class="header_btns">
              <button class="account_btn">Login | Sign up</button>
              <button id="hamber_btn">
                <img src="../assets/images/icons/menus.png" alt="hamber_menu" />
              </button>
            </div>
          </div>
        </nav>
      </div>
    </header>

    <main>
      <!-- Contact us -->
      <section class="contact_us">
        <div class="container">
          <h1>Contact us:</h1>
          <form action="">
            <div class="contact_wrapper">
              <div class="contact_part">
                <label for="first_name">First name :</label>
                <input id="first_name" type="text" name="first_name" />
              </div>

              <div class="contact_part">
                <label for="last_name">Last name :</label>
                <input id="last_name" type="text" name="last_name" />
              </div>

              <div class="contact_part">
                <label for="email">Email :</label>
                <input id="email" type="email" name="email" />
              </div>

              <div class="contact_part">
                <label for="subject">Subject :</label>
                <input id="subject" type="text" name="subject" />
              </div>

              <div class="contact_text">
                <label for="message">Message text :</label>
                <textarea name="message" id="messasge"></textarea>
              </div>

              <div class="contact_btn">
                <input type="submit" value="Send" />
              </div>
            </div>
          </form>
          <hr />

          <div class="contact_info">
            <div class="info_wrapper">
              <div class="info_part">
                <h2>Contact info :</h2>

                <address>Addres : USA</address>
                <address>Telephone : 888888888</address>
                <address>Email : test@test.com</address>
                <address>Telegram : @test</address>

                <hr />

                <p>Working hours : Saturday to Wednesday from 8 am to 2 pm</p>
              </div>
              <div class="info_part">
                <img
                  src="../assets/images/Contact us.svg"
                  alt="contact-info-img"
                />
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>

    <!-- Footer -->
    <footer>
      <div class="container">
        <div class="footer_wrapper">
          <div class="footer_part">
            <h3>About Us</h3>
            <p>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit.Lorem,
              ipsum dolor sit amet consectetur adipisicing elit.
            </p>
          </div>
          <div class="footer_part">
            <h3>Categories</h3>
            <div class="list_wrapper">
              <ul>
                <li><a href="#">T-Shirt</a></li>
                <li><a href="#">T-Shirt</a></li>
                <li><a href="#">T-Shirt</a></li>
                <li><a href="#">T-Shirt</a></li>
              </ul>
            </div>
          </div>
          <div class="footer_part">
            <h3>Contact Us</h3>

            <p><span>Number:</span> +8999999999</p>
            <p><span>Gmail:</span> test@test.com</p>
            <p><span>Address:</span> USA</p>
          </div>
          <div class="footer_part">
            <div class="footer_logo">
              <img src="../assets/images/logo.svg" alt="" />
            </div>
          </div>
        </div>
        <div class="under_footer">
          <div class="under_part">
            <a href="#"
              ><img
                src="../assets/images/icons/instagram-167-svgrepo-com.svg"
                alt=""
            /></a>
            <a href="#"
              ><img
                src="../assets/images/icons/twitter-boxed-svgrepo-com.svg"
                alt=""
            /></a>
            <a href="#"
              ><img
                src="../assets/images/icons/telegram-svgrepo-com.svg"
                alt=""
            /></a>
          </div>
          <div class="under_part">Test test test test testtest test</div>
        </div>
      </div>
    </footer>

    <script src="../js/script.js"></script>
  </body>
</html>
